{% extends 'base.html.twig' %}

{% block title %}Hello TestingController!{% endblock %}

{% block header %}
    {% embed "components/navbar.html.twig" %}
        {% block navbar %}
            <li>
                jijijija
            </li>
        {% endblock navbar %}
    {% endembed  %}
{% endblock header %}

{% block body %}

{% endblock %}
