#information {
    padding-top: 20px;
    background-color: orange;
    max-width: 50vw;
    margin: 0 auto;
    border-radius: 10px;
    > div {
        .form-section {
            margin-left: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        > .title{
            text-align: center;
            font-family: "VHF";
        }
    }
    .form {
        input {
            min-width: 50px;
            max-width: 150px;
        }
    }
    
    .res-ride {
        border: 2px solid #ff00a6;
    }

    .reservation {
        border: 2px solid #0066ff;
    }
    .reservation, .res-ride {
        margin: 0 auto;
        max-width: 80%;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        border-radius: 20px;
        p, ul, a {
            margin-left: 20px;
        }
        ul {
            list-style: none;
        }
    }

    
}