{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    {% if error %}
        <h1>{{ error }}</h1>
    {% endif %}
    {{ form_start(changepass) }}
    {{ form_end(changepass) }}
{% endblock %}
