<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BlaBlaChamb{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <header>
        {% block header %}
            
        {% endblock header %}
    </header>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
